body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.t-card {
	margin: 20px;
}

.intro {
	font-family: Lucida Sans;
}

.homelayout {
	height: 900px;
	background-color: white;		
	margin-left: 17.5em;	
}
.sociallayout {
	height: 900px;
	background-color: white;		
	margin-left: 17.5em;	
}
.projlayout {
	height: 3000px;
	background-color: white;		
	margin-left: 17.5em;
	
}
.explayout {
	height: 900px;
	background-color: white;		
	margin-left: 17.5em;
	
}
.skillslayout {
	height: 1400px;
	background-color: white;		
	margin-left: 17.5em;
	
}
.exp_list {
	
	list-style-type: none;
	line-height: 90%;
	font-size: 15px;
	font-weight: 350;
	letter-spacing: 0.5px;
}
.a_edu {
  color: #403F45;
}
.amr_edu {
  color: #403F45;
}
.acc_link {
  color:  #403F45;
}
.proj_link {
  color:  #403F45;
}
.projlink_link {
  color:  #3ca67b;
}
.proj_link:hover, .proj_link:focus, .proj_link:active {
  color: #403F45; 
}
.projlink_link:hover, .projlink_link:focus, .projlink_link:active {
  color: #90EE90; 
}
.uandi_link{
	color:  #403F45;
}
.a {
  color: #42b983;
}
.amr_edu:hover, .a_edu:focus, .a_edu:active {
  color: #FFA500; 
}
.acc_link:hover, .acc_link:focus, .acc_link:active {
  color: #90EE90; 
}
.uandi_link:hover, .uandi_link:focus, .uandi_link:active {
  color: #DC143C; 
}
.edu_col{
	 line-height: 60%;
}
.proj_col{
	
	line-height: 60%;
}
.exp_col{
	line-height: 60%;
	
}
.exp_list{
	font-size: 17px;
	margin:0 0 10px 0;
}
.skill_list{
	font-size: 23px;
	margin:0 0 10px 0;
}
.deliv{
	width:700px;
}
.sociallink{
	line-height: 80%;
	width:500px;
}
.edu{
	font-weight: 500;
    
	font-size: 30px;
}
.proj{
	font-weight: 500;    
	font-size: 30px;
	width:800px;
	line-height: 90%;
}
.edu_sub{
	font-size: 23px;
}
.proj_sub{
	font-size: 23px;
	width : 800px;
}
.social_sub{
	font-size: 23px;
	width : 700px;
	line-height: 90%;
}

.a:hover, .a:focus, .a:active {
  color: #42b983; 
}


.homecolour {
	color:  #403F45;
}

.t-card-image{
	border-radius: 10px;
	width : 100px;
	heigth: 80px;
	box-shadow: 0px 0px 3 px 1 px #ccc;
}
.t-card-info{
	margin-top: 10px;
	min-height: 100 px;
}
.t-card-title{
	font-size: 24px;
	margin: 0 px;
}
.t-card-sub-title{
	font-size: 16px;
	margin: 0 px;
}

